.Weather {
  border: 1px solid #6c757d;
  border-radius: 5px;
  margin: 50px auto 10px auto;
  padding: 15px;
  padding-left: 25px;
  max-width: 50%;
}

.Weather .row {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
}
.Weather .header {
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}
.Weather .header a {
  text-decoration: none;
  color: #000000;
  transition: all 20ms ease-in-out;
  padding: 0 5px;
}
.Weather .header a:hover {
  color: #134691;
}

.Weather .temperatureWindButton {
  padding-bottom: 15px;
  text-align: center;
}
.Weather .wind-button {
  padding: 6px 42px 6px 42px;
}

.Weather.morning-background {
  background: linear-gradient(
    179.4deg,
    rgb(146, 221, 219) 31.2%,
    rgb(236, 167, 219) 90.9%
  );
}

.Weather.afternoon-background {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 189, 189) 0%,
    rgb(255, 216, 168) 62%,
    rgb(255, 248, 168) 100.7%
  );
}

.Weather.evening-background {
  background: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.Weather.night-background {
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
}
