.WindForecast {
  text-align: center;
}
.WindForecast-wind-degree {
  opacity: 0.7;
  margin-left: 5px;
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 2px 2px 0 2px;
  font-size: 10px;
}
.WindForecast-day {
  margin-bottom: 10px;
}
.WindForecast-wind {
  margin-top: 5px;
}
